:root {
    --font-family: 'Roboto', sans-serif;
    --primery-text-color: #757575;
    --secondary-text-color: #212121;
    --text-color-white: #FFFFFF;
    --accent-color: #2196F3;
}
/* --Відміна маркерів позицій списку, весь сайт-- */

ul {
    list-style: none;
}
/* --Вдміна підкреслювання посиланнь, весь сайт-- */

a {
    text-decoration: none;
}
/* --Глобальнй стиль тексту в елементі/тезі "боді" -- */

body {
    background: #fff;
    color: var(--primery-text-color);
    font-family: var(--font-family);
}
/* --ХЕДЕР-- */
/* --Лого двокольорове-- */

.logo-top {
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2; 
    letter-spacing: 0.03em;
    color: #2196F3;
}
.logo-top-studio {
    color: #000000;
}
/* --Навігація сайту-- */

.navigation-item-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}
.navigation-item-link:hover,
.navigation-item-link:focus
 {
    color: var(--accent-color);
}
/* -- Контакти шапка -- */

.hdr-contact-mail,
.hdr-contact-phone {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primery-text-color);
}
.hdr-contact-mail:hover, .hdr-contact-mail:focus,
.hdr-contact-phone:hover,.hdr-contact-phone:focus {
    color: var(--accent-color);
}
/* --СТУДІЯ-- */
/* --Герой-- */

.motto {
    background-color: #2F303A;
}
.motto-text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--text-color-white);
}
.btn-modal-window {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--text-color-white);
    cursor: pointer;
}
/* .btn-modal-window:hover,
.btn-modal-window:focus {
} */
/* --Цінності-- */
.value-name {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-text-color);
}
.value-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primery-text-color);
}
/* --Чим им займаємось-- */

.section-name {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}
/* --Наша команда-- */

.team-member-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color)
}
.team-member-position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primery-text-color);
}

/* --ПОРТФОЛІО ОСНОВНИЙ КОНТЕНТ-- */
/* --Фільтр портфоліо-- */

.filter-button {
    /* position: absolute; */
    width: 125px;
    height: 38px;
    left: 593px;
    top: 174px;
    background: #F5F4FA;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: #F5F4FA;
    color: var(--secondary-text-color);
    cursor: pointer;
}
.filter-button:hover, .filter-button:focus {
    background-color: var(--accent-color);
    color: var(--text-color-white);
}
/* --Підписи проектів-- */

.project-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color);
}
.product-segment {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--primery-text-color);
}
/* --ПІДВАЛ-- */

.page-bottom {
    background-color: #2F303A;
}

.logo-bottom {
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.logo-bottom-studio {
    color: #fff;
}
.footer-adressse {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--text-color-white);
}
.footer-mail,
.footer-phone {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-mail:hover, .footer-mail:focus,
.footer-phone:hover, .footer-phone:focus,
.footer-adressse:hover, .footer-adressse:focus {
    color: var(--accent-color);
}